@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Titillium+Web:wght@200&display=swap');

    body{
        background-color: #e7edff;
        color: #e7edff;
        font-family: 'Raleway', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*nav*/
    nav {
        background-color: #060323;
        height: 80px;
        width: 100%;
    }

    .box-nav {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .img-logo {
        width: 75px;
    }

    .nav-label, .nav-input {
        display: none;
    }

    .nav-menu {
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
    }

    .nav-item {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    .nav-item::after {
        content: "";
        display: block;
        background: #ffffff;
        width: 90%;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path 0.3s;
    }

    .nav-item:hover {
        color: #d4dfff;
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /*mobile*/
    @media screen and (max-width: 768px) {
        .box-nav {
            width: 95%;
        }

        .nav-label {
            display: block;
            font-size: 30px;
            cursor: pointer;
        }
        
        .nav-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #060323;
            padding: 20px 0;
            text-align: center;
            clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);        ;
            transition: clip-path 1s ease-in-out;
        }

        .nav-input:checked + .nav-menu{
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);        ;
    
        }
       

        .nav-item {
            display: block;
            margin: 40px 0;
            font-size: 30px;
        }

    }