@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Titillium+Web:wght@200&display=swap');

    body{
        background-color: #000;
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*nav*/
    nav {
        background-color: #060323;
        height: 80px;
        width: 100%;
    }

    .box-nav {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .img-logo {
        width: 75px;
    }

    .nav-label, .nav-input {
        display: none;
    }

    .nav-menu {
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
    }

    .nav-item {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
    }