@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Titillium+Web:wght@200&display=swap');

body{
    background-color: #e7edff;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*nav*/
nav {
    background-color: #060323;
    height: 80px;
    width: 100%;
    box-shadow: -4px 12px 7px -4px rgba(0,0,0,0.75);
}

.box-nav {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 65px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes float {
    0% {
        transform: translateY(-4%);
    }
    100% {
        transform: translateY(7%);
    }
}

.nav-label, .nav-input {
    display: none;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: "";
    display: block;
    background: #ffffff;
    width: 90%;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}

.nav-item:hover {
    color: #d4dfff;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.place {
    font-weight: bold;
}

/*banner*/
.banner {
    display: flex;
    width: 90%;
    margin: 30px auto;
    background-color: #c7d3fe;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background: linear-gradient(90deg, #e7edff 0%, #060323 100%);
}

.box-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.text-banner {
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    gap: 20px;
    background-color: #060323;
    padding: 30px;
    border-radius: 10px;
    color: #e7edff;
}

.text-banner h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto;
}

.text-banner-p span {
    font-weight: bold;
}

.btn-banner {
    background-color: #e7edff;
    color: #060323;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}

.btn-banner:hover {
    background-color: #b1c3ff;
}

.img-currency {
    width: 400px;
}

/*projects*/
.section-projects {
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: space-around;
}

.box-projects {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.box-projects:hover {
    transform: scale(1.05);
}







/*footer*/
footer {
    background-color: #060323;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.img-footer {
    width: 50px;
    margin: 10px 0 0 0;
}


/*mobile*/
@media screen and (max-width: 880px) {
    .box-nav {
        width: 95%;
    }

    .nav-label {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #060323;
        padding: 20px 0;
        text-align: center;
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);        ;
        transition: clip-path .7s ease-in-out;
        z-index: 1;
    }

    .nav-input:checked + .nav-menu{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);        ;

    }
   
    .nav-item {
        display: block;
        margin: 40px 0;
        font-size: 30px;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);;
    }

    .nav-item::after{
        background: #1201fd;
        clip-path: var(--clippy);
        transition: clip-path .3s;
    }

    .nav-item:hover{
        --clippy:polygon(0 0, 00% 0, 70% 20%, 0 00%);
    }

    /*banner*/
    .box-banner {
        flex-direction: column;
    }

    .text-banner {
        text-align: center;
        width: 90%;
        height: auto;
        padding: 20px;
        opacity: 0.9;
        font-size: 20px;
        
    }

    .box-img-currency {
        width: 50%;
    }

    .img-currency {
        width: 100%;
    }
}