@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Titillium+Web:wght@200&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Quicksand';
}

.words {
    height: 100px;
    display: grid;
    flex-direction: column;
    justify-items: center;
}

.title {
    margin-bottom: 0%;
    font-size: 50px;
}

.subtitle {
    margin-top: 0%;
    font-size: 15px;
}

.img{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    margin-top: 5%;
}

.logoImage {
    height: 400px;
    align-items: center;
    border-radius: 50%;
    margin-top: 5%;
}

@media screen and (max-width: 450px) {
    body {
        background-color: #000000;
    }

    .logoImage {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        animation-name: flotar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .logoImage:hover {
        animation-play-state: paused;
    }

    @keyframes flotar {
        0% {
            transform: translateY(1%);
        }

        100% {
            transform: translateY(15%);
        }
    }


    
}

@media screen and (min-width: 451px){
    body {
        background-color: #000000;
    }

    .logoImage {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        animation-name: flotar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .logoImage:hover {
        animation-play-state: paused;
    }
    @keyframes flotar {
        0% {
            transform: translateY(1%);
        }
        100% {
            transform: translateY(7%);
        }
    }

    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px){
    
    body {
        background-color: #000000;
    }

    .words {
        position: absolute;
        top: -90px;
        left: 60%;
        margin-top: 0;
        height: 800px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .img {
        top: -10px;
        left: 50%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 5%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .logoImage {
        height: 700px;
        width: 700px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        animation-name: flotar;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .logoImage:hover {
        animation-play-state: paused;
    }
    @keyframes flotar {
        0% {
            transform: translateY(-8%);
        }
        100% {
            transform: translateY(-4%);
        }
    }
}