@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Titillium+Web:wght@200&display=swap');

body{
    background-color: #000;
    color: white;
    font-family: 'Raleway', sans-serif;
   }
.place {
    font-weight: bold;
   }
/*movil*/
@media only screen and (max-width: 450px) {
    /*nav*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .nav{
        background: #060323;
        height: 100px;
        color: rgb(255, 0, 0);
    }

    .nav_container{
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .nav_logo{
        font-size: 1.5em;
        font-family: 900;
        height: 75px;
        width: 75px;
        animation-name: flotarHome;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        z-index: 12;
    }

    @keyframes flotarHome {
    
        0%{
            transform: translateY(1%)
        }
        
        100%{
            transform: translateY(15%);
        }
    }

    .nav_input:checked + .nav_menu{
        background-color: #060323;
    }

    .nav_label, .nav_input{
        display: none;    
    }
    .nav_menu{
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
    }

    .nav_item{
        color: white;
        text-decoration: none;
        font-size: 50px;

        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

    }

    .nav_item::after{
        content: "";
        display: block;
        background: #1201fd;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .3s;
    }

    .nav_item:hover{
        --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .nav_label{
        display: block;
        cursor: pointer;
    }

    .nav_menu {
        position: fixed;
        top: 75px;
        height: 15opx;
        bottom: 0;
        background: #060323;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        z-index: 11;
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);        ;
        transition: clip-path 1s ease-in-out;
        }

    .nav_input:checked + .nav_menu{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);        ;

    }

    .nav_img {
        height: 50px;
        width: 50px;
    }
/*converter*/    

    .converter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        position: relative;
        margin: 40px 5px 0px 10px;
        width: 95%;
        height: 700px;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        }
        
    .glow::after{
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(45deg , #b700ff, #97019c, #1201fd,  #040126, #b700ff);
        background-size: 400%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        border-radius: 20px;
        animation: animate 20s linear infinite;
        }
        
    @keyframes animate{
        0%{
        background-position: 0, 0;
        }
        50%{
        background-position: 400% 0;
        }
        100%{
        background-position: 0, 0;
        }
    }
            
    .glow::after {
        filter: blur(5px);
        }

    .h1_currency{
        font-size: 40px;
        text-align: center;
    }

    .row {
        place-items: center;
    }
            
    .currency, #input_currency, #output_currency{
        background-color: #060323;
        color: white;
        border-radius: 10px;
        border: none;
        width: 90%;
        font-size: 35px;
        text-align: center;
        margin: 20px
        }

    .buttonConverter{
        background-color: #18001d;
        color:#f6e4ff;
        border: none;
        padding: 10px;
        width: 200px;
        height: 75px;
        font-size: 35px;
        border-radius: 40px;
        animation-name: buttonConverter;
        animation: forwards;
        transition-property: all;
        transition: background-color, border, color, width 2s;
        }
                
    .buttonConverter:hover{
        background-color: #32072d;
        width: 250px;
        border:solid #630b7d;
        }
}
/*tablet*/
@media only screen and (min-width: 451px) and (max-width: 1024px){
/*nav*/

    *{
        margin: 0;
        box-sizing: border-box;
    }
    .nav{
        background: #060323;
        height: 100px;
        color: rgb(255, 0, 0);
        margin: 0;
        box-sizing: border-box;
    }
    .nav_container{
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .nav_logo{
        font-size: 1.5em;
        font-family: 900;
        height: 75px;
        width: 75px;
        animation-name: flotarHome;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        z-index: 12;
    }
    @keyframes flotarHome {
           
        0%{
            transform: translateY(1%)
        }
        
        100%{
            transform: translateY(15%);
        }
    }
    .nav_input:checked + .nav_menu{
        background-color: #060323;
    }
    .nav_label, .nav_input{
        display: none;
    }
    .nav_menu{
        display: grid;
        grid-auto-flow: column;
        padding: 100px;
        gap: 3em;
    }
    .nav_item{
        color: white;
        text-decoration: none;
        margin-top: -100px;
        font-size: 50px;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    .nav_item::after{
        content: "";
        display: block;
        background: #1201fd;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .3s;
    }
    .nav_item:hover{
        --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
           
    .nav_label{
        display: block;
        cursor: pointer;
    }
    .nav_menu {
        position: fixed;
        top: 75px;
        height: 100%;
        bottom: 0;
        background: #060323;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        z-index: 11;
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);        ;
        transition: clip-path 1s ease-in-out;
        }
    .nav_input:checked + .nav_menu{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);        ;
    }
    .nav_img {
        height: 75px;
        width: 75px;
    }    
/*converter*/
    .box {
        position: relative;
        margin: 75px 5px 0px 10px;
        width: 95%;
        height: 700px;
        background: black;
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: space-around;
        border-radius: 20px;
        }
        
    .glow::after{
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        background: linear-gradient(45deg , #b700ff, #97019c, #1201fd,  #040126, #b700ff);
        background-size: 400%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: -1;
        border-radius: 20px;
        animation: animate 20s linear infinite;
        }
        
    @keyframes animate{
        0%{
        background-position: 0, 0;
        }
        50%{
        background-position: 400% 0;
        }
        100%{
        background-position: 0, 0;
        }
    }
            
    .glow::after {
        filter: blur(20px);
        }

    .h1_currency{
        font-size: 40px;
        text-align: center;
    }

    .currency {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
    
            
    .currency, #input_currency, #output_currency{
        background-color: #060323;
        color: white;
        border-radius: 10px;
        border: none;
        width: 80%;
        font-size: 35px;
        margin: 5%;
        }

    .buttonConverter{
        background-color: #18001d;
        color:#f6e4ff;
        margin: 25px;
        border: none;
        padding: 10px;
        width: 200px;
        height: 75px;
        font-size: 25px;
        border-radius: 40px;
        animation-name: buttonConverter;
        animation: forwards;
        transition-property: all;
        transition: background-color, border, color, width 2s;
        }
                
    .buttonConverter:hover{
        background-color: #32072d;
        width: 250px;
        border:solid #630b7d;
        }
    }
/*escritorio*/
@media only screen and (min-width: 1025px) {
    /*nav*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .nav{
        background: #060323;
        height: 80px;
        color: rgb(255, 0, 0);
    }

    .nav_container{
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .nav_logo{
        font-size: 1.5em;
        font-family: 900;
        height: 60px;
        width: 60px;
        animation-name: flotarHome;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .nav_logo:hover{
        animation-play-state: paused;
    }

    @keyframes flotarHome {
    
        0%{
            transform: translateY(1%)
        }
    
        100%{
            transform: translateY(15%);
        }
        
    }

    .nav_input:checked + .nav_menu{
        background-color: white;
    }

    .nav_label, .nav_input{
        display: none;
    }

    .nav_menu{
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
    }

    .nav_item{
        color: white;
        text-decoration: none;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

    }

    .nav_item::after{
        content: "";
        display: block;
        background: #ffffff;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .3s;
    }

    .nav_item:hover{
        --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
/*converter*/
    .h1_currency{
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    
    .currency {
    font-family: 'Raleway', sans-serif;
    margin: 5% 0 10%;
    }
    
    .currency, #input_currency, #output_currency{
    background-color: #060323;
    color: white;
    border-radius: 10px;
    border: none;
    width: 40%;
    justify-content: center;
    }
    
    .buttonConverter{
    background-color: #18001d;
    color:#f6e4ff;
    margin: 25px;
    border: none;
    padding: 20px;
    width: 125px;
    border-radius: 40px;
    animation-name: buttonConverter;
    animation: forwards;
    transition-property: all;
    transition: background-color, border, color, width 2s;
    }
    
    .buttonConverter:hover{
    background-color: #32072d;
    width: 250px;
    border:solid #630b7d;
    }
    
    .converter {
    position:relative;
    background-color: #000000;
    z-index: 0;
    height: 500px;
    }
    
    select, input {
    width: 40%;
    font-size: 15px;
    }
    
    .box {
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 5% auto 0;
    margin-bottom: 50px;
    width: 50%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items:  center;
    border-radius: 20px;
    }
    
    .glow::after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    background: linear-gradient(45deg , #b700ff, #97019c, #1201fd,  #040126, #b700ff);
    background-size: 400%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    border-radius: 20px;
    animation: animate 20s linear infinite;
    }
    
    @keyframes animate{
        0%{
        background-position: 0, 0;
        }
        50%{
        background-position: 400% 0;
        }
        100%{
        background-position: 0, 0;
        }
        }
        
        .glow::after {
        filter: blur(20px);
        }
}
    

