@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

/*nav*/
nav {
    background-color: #000000;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Raleway', sans-serif;
    z-index: 1000;
}

.box-header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 150px;
    padding: 10px;
}

.nav-li {
    display: inline-block;
}

.nav-li a {
    color: #f599b1;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-li a:hover {
    color: #fef2f5;
}

/*main*/

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 800px;
    height: 500px;
    background: #0000;
    transition: 0.25s;
}


.container .box {
    position: relative;
    background: var(--img);
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0) brightness(1);
    cursor: pointer;
}

.container:hover .box{
    filter: grayscale(1);
}

.container .box:hover{
    filter: grayscale(0) brightness(1.25);
}

.container:has(.one:hover){
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
}

.container:has(.two:hover){
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
}

.container:has(.three:hover){
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr;
}

.container:has(.four:hover){
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
}

.container .box::before{
    content: '';
    position: absolute;
    top: -1;
    width: 100%;
    height: calc(100% + 1px);
    background: linear-gradient(#000, transparent, transparent, #000);
}

.container .box:nth-child(even){
    transform: translateY(30px);
}
.container .box:nth-child(odd){
    transform: translateY(-30px);
}
.container .box::after{
    content: attr(data-text);
    position: absolute;
    bottom: -100px;
    background: #fff;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    opacity: 0;
    transition-delay: 0s;
    -webkit-box-reflect-: below 2px linear-gradient(transparent, #0003);
}

.container .box:hover::after{
    opacity: 1;
    bottom: -10px;
    transition-delay: 0.25s;
}


/*mobile*/
@media (max-width: 768px){
    
    .box-header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-logo {
        width: 150px;
    }

    .nav-li a {
        padding: 10px 10px;
    }


    /*main*/


    .main-desktop {
        width: 100%;
        height: auto;
        margin: 10px auto;
    }

    .container {
        width: 100%;
        position: absolute;
        top: 0px;
     }
    
    
    /*.container .box {
        top: -50px;
    }*/

}
